@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.glitch {
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  color: #7815152c;
  text-shadow: 0.05em 0 0 #8956f1, -0.025em -0.05em 0 rgba(48, 1, 45, 0.336),
    0.025em 0.05em 0  rgba(153, 0, 255, 0.295);
  font-size: 2rem;
  text-align: center;
  animation: glitch 2500ms infinite;
}


@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0  rgba(153, 0, 255, 0.096), -0.05em -0.025em 0 rgba(1, 19, 1, 0.315),
      -0.025em 0.05em 0  rgba(153, 0, 255, 0.295);
  }

  15% {
    text-shadow: -0.05em -0.025em 0  rgba(153, 0, 255, 0.26),
      0.025em 0.025em 0 rgba(48, 1, 45, 0.5),
      -0.05em -0.05em 0  rgba(153, 0, 255, 0.295);
  }

  50% {
    text-shadow: 0.025em 0.05em 0 #b7c5ec, 0.05em 0 0 rgba(48, 1, 45, 0.301),
      0 -0.05em 0  rgba(153, 0, 255, 0.295);
  }

  100% {
    text-shadow: -0.025em 0 0 #87a3f7, -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(153, 0, 255, 0.295);
  }
}

.foundation_card__v7VKB  {
  background: linear-gradient(180deg,#242424,#121212 65.62%);
  border-radius: 12px;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.02),0 4px 6px rgba(0,0,0,.02),inset 0 0 0 6px #242424;
  transition: background .15s ease;
}

.foundation_card__v7VKB2 {
  background: linear-gradient(180deg,#2424245d,#121212 65.62%);
  box-shadow: 0 1px 0 1px rgba(0,0,0,.02),0 4px 6px rgba(0,0,0,.02),inset 0 0 0 6px #242424;
  
}
